.basket-item {
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid @border-color;

    &:last-of-type {
        border-bottom: 1px solid @border-color;
        margin-bottom: 50px;
    }

    img {
        width: 120px;
        height: auto;
    }
}

.cart-page {
    .btn-ghost {
        padding: 15px 100px;
    }
}