.basket-item {
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;

    img {
        width: 120px;
    }

    img {
        width: 120px;
        height: auto;
    }
}