.category-listing {
    a {
        display: block;
    }
    img {
        width: 100%;
        height: auto;
    }
}

.listing-item {
    border-bottom: 1px solid @border-color;
    margin-bottom: @content-gap;
    padding-bottom: @content-gap;
}

.category-description {
    margin-top: @content-gap;
}