.category {
    .content {
        border: none;
    }

    .archive-header {
        border: 1px solid @border-color;
        border-bottom: none;
    }

    section.category-listing {
        border-bottom: 1px solid @border-color;
    }

    .grid {
        margin-top: -22px;
    }
}

.category-listing {
    a {
        display: block;
    }
    img {
        width: 100%;
        height: auto;
    }
}

.listing-item {
    margin-bottom: @content-gap;
    padding-bottom: @content-gap;
}

.category-description {
    margin-top: @content-gap;
}

.sub-nav {
    display: flex;
    justify-content: center;
    list-style: none;

    li {
        padding: 10px;
    }

    a {
        text-transform: uppercase;
    }
}

@media (min-width: 768px) {
    .col--md-6.collections-grid {
        width: 49%;
    }
}