.site-footer {
    border-top: 1px solid @border-color;
    border-bottom: 1px solid @border-color;
    padding: 15px 0;
    margin-top: @content-gap;
    margin-bottom: @content-gap * 2;
}

.social-list {
    list-style: none;

    li {
        display: inline-block;
    }

    img {
        width: 30px;
        height: 30px;
    }
}