.site-footer {
    border-top: @border-size solid @palette-dark;
    padding: @bar-height 0;
    margin: @bar-height 0;
    font-size: 1.4rem;
    line-height: 2.1rem;

    .footer-links {
        @media (min-width: @screen-sm-min) {
            display: flex;
            margin-right: -5px;
            margin-left: -5px;
        }

        .listing {
            @media (min-width: @screen-sm-min) {
                flex: 0 0 16.6666666667%;
            }

            .listing-item {
                background: @palette-mid;
                padding: (@bar-height * 2);
                margin-bottom: @bar-height;
                margin-right: 0;
                margin-left: 0;
                @media (min-width: @screen-sm-min) {
                    margin-right: 5px;
                    margin-left: 5px;
                    margin-bottom: 0;
                }
                height: 100%;
            }

            &:last-of-type {
                .listing-item {
                    border: none;
                    margin-bottom: 0;
                }
            }
        }
    }

    .footer-info {
        border-top: @bar-height solid @primary;
        padding-top: @bar-height;
        margin-top: @bar-height;
        font-size: 1.2rem;

        a {
            font-weight: 300;
        }
    }

    .footer-social {
        text-align: right;
    }

    .widget-title {
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        a {
            font-weight: 600;
            color: @body-font-color;
            transition: color @ani-speed linear;

            &:hover {
                color: @primary;
            }
        }

        .current_page_item {
            a {
                color: @primary;
            }
        }
    }
}

#menu-footer-menu {
    overflow: hidden;

    li {
        float: left;
        margin-right: 10px;
    }

    a {
        font-weight: 600;
        color: @body-font-color;
    }
}

.social-list {
    display: flex;
    justify-content: flex-end;

    li {
        margin-left: 10px;
    }

    img {
        width: 30px;
        height: 30px;
    }
}