.site-header {
    margin-bottom: @content-gap;

    .top-menu {
        @media (max-width: @screen-sm-max) {
            border-bottom: 1px solid @border-color;
        }
    }

    .second-nav {
        display: flex;
        justify-content: flex-end;
    }
}

// Mobile nav
#nav-toogle {
    @media (min-width: @screen-sm-min) {
        display: none;
    }
    padding: 0;
    margin: 0;

    img {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
}

#mobile-menu {
    display: none;
    @media (max-width: @screen-xs-max) {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: white;
        padding: 80px 8% 20px 8%;
    }
}

// Tablet nav
.tablet-nav {
    display: none;
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        display: block;
    }

    ul {
        display: flex;
        list-style: none;
    }
}

.side-nav {
    position: absolute;
    top: 130px; // Random var
    display: none;
    @media (min-width: @screen-md-min) {
        display: block;
    }

    ul {
        list-style: none;
        display: inline-block;

        li {
            display: inline-block;

            &::after {
                display: none;
            }
        }
    }

    &.side-nav-left {
        left: 0;
        transform-origin: left top;
        transform: rotate(270deg) translateX(-100%);

        li {
            margin-left: 30px;
        }
    }

    &.side-nav-right {
        right: -160px;
        top: 100px;
        transform-origin: left bottom;
        transform: rotate(90deg) translateY(-100%);

        li {
            margin-right: 30px;
        }
    }
}


.site-logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    @media (min-width: @screen-sm-min) {
        width: 30%;
    }
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.menu {
    padding: 8px 0;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;

        &::after {
            content: "|";
            margin: 0 5px;
        }

        &:last-child::after {
            display: none;
        }

        a {
            .brand-text();

            &:hover {
                text-decoration: none;
            }
        }

        &.active {
            a {
                color: @primary;
            }
        }
    }
}

#basket {
    float: right;
    padding: 8px;
    color: red;
}