.site-header {
    border-bottom: 1px solid @border-color;

    .header-top {
        border-bottom: 1px solid @border-color;
    }

    margin-bottom: @content-gap;
}

.site-logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;

    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.menu {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        a {
            .brand-text();
        }
    }
}