.site-header {
    margin-bottom: @content-gap;
    position: relative;

    .top-menu {
        @media (min-width: @screen-sm-min) {
            position: absolute;
            bottom: 2px;
            right: 0;
            left: 0;
        }
    }

    .second-nav {
        display: flex;
        justify-content: flex-end;
    }

    .basket_text {
        display: none;
        @media (min-width: @screen-sm-min) {
            display: inline;
            margin-right: 10px;
        }
    }

    .logo {
        margin-right: auto;
        margin-left: auto;
        margin-top: -30px;
        @media (min-width: @screen-sm-min) {
            margin-top: 0;
        }

        a:hover {
            text-decoration: none;
        }
    }
}

// Mobile nav
#nav-toogle {
    @media (min-width: @screen-md-min) {
        display: none;
    }
    padding: 0;
    margin: 0;
    z-index: 3;
    position: relative;

    img {
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
}

#mobile-menu {
    display: none;
    @media (max-width: @screen-sm-max) {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: @body-bg-color;
        z-index: 2;
        padding: 105px 20px 20px 50px;
    }

    ul {
        list-style: none;
        text-transform: uppercase;
        font-size: 14px;
    }
}

.side-nav {
    position: absolute;
    top: 0;
    display: none;
    z-index: 2;
    @media (min-width: @screen-md-min) {
        display: block;
    }

    ul {
        list-style: none;
        display: inline-block;

        li {
            display: inline-block;

            &::after {
                display: none;
            }
        }
    }

    &.side-nav-left {
        left: -45px;
        transform-origin: left top;
        transform: rotate(270deg) translateX(-100%);

        li {
            margin-left: 30px;
        }
    }

    &.side-nav-right {
        right: -45px;
        top: 290px;
        transform-origin: right top;
        transform: rotate(90deg) translateY(0);

        li {
            margin-right: 30px;
        }
    }
}


.site-logo {
    width: 65%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;

    img {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
        max-width: 252px;
    }
}

.menu {
    padding: 8px 0;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        text-transform: uppercase;

        &::after {
            content: "|";
            margin: 0 5px;
        }

        &:last-child::after {
            display: none;
        }

        a {
            &:hover {
                text-decoration: none;
            }
        }

        &.active {
            a {
                color: @primary;
            }
        }
    }
}

.basket-icon {
    text-align: right;

    a:hover {
        text-decoration: none;
    }
}

#basket {
    padding: 0 28px 0 0;
    position: relative;
    text-transform: uppercase;

    .badge {
        &::before {
            content: "(";
        }
        &::after {
            content: ")";
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        background-image: url(./assets/cart.png);
        display: block;
        width: 24px;
        height: 24px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}