* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: @body-bg-color;
    font-family: @body-font;
    color: @body-font-color;
    font-size: @body-font-size;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 2.6rem;
    letter-spacing: 2px;
    overflow-x: hidden;
    width: 95%;
    margin: 30px auto;
    @media (min-width: @site-max-width) {
        width: @site-max-width;
        max-width: @site-max-width;
    }

}

body > div:first-child {
    @media (min-width: @screen-md) {
        position: relative;
        padding-right: 50px;
        padding-left: 50px;
    }
}

.content {
    position: relative;
    border: 1px solid @border-color;
}

.home {
    .content {
        border: none;
    }
}

.padded-page {
    padding: 20px;

    @media (min-width: @screen-md-min) {
        padding: 30px 70px;
    }
    @media (min-width: @screen-md-min) {
        padding: 40px 100px;
    }

    header {
        border-bottom: 1px solid @border-color;
        padding-bottom: 40px;
        margin-bottom: 40px;
    }
}

.constrain {
    width: 85%;
    margin: 0 auto;
}