html {
    font-size: 62.5%;
}

body {
    background-color: @body-bg-color;
    font-family: @body-font;
    color: @body-font-color;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.6rem;
    overflow-x: hidden;
}

.content {
    overflow: hidden;
}