// Flexgrid breakpoints
@screen-sm: 48em;
@screen-md: 64em;
@screen-lg: 75em;

// Structure
@site-max-width: 1200px;

// Palette
@primary: #D69031;

// Backgrounds
@bg-brown: #E2DED4;
@bg-browner: #D5B88A;
@bg-yellow: #F4DFB3;
@bg-yellower: #F2E29B;
@bg-pink: #F3D9D3;
@bg-blue: #BFD9EC;
@bg-blue-light: #93BFDF;
@bg-grey: #B6C6C6;
@bg-gold: #EEDA83;
@bg-gold-dark: #D9CB60;
@bg-tan: #BC9422;
@bg-blue-dark: #78A7BB;

@palette-darkest: #000000;
@palette-dark: #1A1919;
@palette-default: #A9A9B0;
@palette-mid: #EAEAEB;
@palette-light: #F4F4F4;
@palette-lightest: #ffffff;
@body-bg-color: #faf9f8;
@body-font-color: @palette-dark;
@seperator-color: @palette-mid;
@palette-nav: @primary;

// Type

@primary-font: 'Nunito Sans', sans-serif;;

@body-font: @primary-font;

@weight-strong: 600;
@weight-medium: 400;
@weight-light: 300;

// Wrapper


// Delighters
@ani-speed: 0.2s;
