button, .btn {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    font-size: @extra-small-font-size;
}

.btn-primary {
    padding: 15px;
    text-align: center;
    background: @primary;
    color: @palette-lightest;
    text-transform: uppercase;
}

.btn-ghost {
    padding: 15px;
    text-align: center;
    background: @body-bg-color;
    color: @primary;
    border: 1px solid @border-color;
    text-transform: uppercase;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn--xs-block {
    @media (max-width: @screen-xs-max) {
        display: block;
        width: 100%;
    }
}

.btn--sm-block {
    @media (max-width: @screen-sm-max) {
        display: block;
        width: 100%;
    }
}

.btn--md-block {
    @media (max-width: @screen-md-max) {
        display: block;
        width: 100%;
    }
}

.btn--lg-block {
    @media (max-width: @screen-lg-max) {
        display: block;
        width: 100%;
    }
}

.input {
    text-align: left;
    font-size: @extra-small-font-size;

    label {
        display: block;
        text-transform: uppercase;
        font-size: @extra-small-font-size;
    }

    input {
        border: 1px solid @border-color;
        padding: 9px;
        width: 100%;
        margin-bottom: 20px;
    }
}

select {
    appearance: none;
    border: 1px solid @border-color;
    padding: 9px 25px 9px 9px;
    border-radius: 0;
    background: transparent;
    background-image: url(./assets/arrows.png);
    background-repeat: no-repeat;
    background-position: 80%;
    background-size: 9px;
    font-size: @extra-small-font-size;
}

select::-ms-expand {
    display: none; /* hide the default arrow in ie10 and ie11 */
}

.date-input {
    width: 80%;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 28px;
        right: -37px;
        background-image: url(./assets/calendar.png);
        display: block;
        width: 30px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}